
html, body{
  height: 100%;
}

div, body{
  margin: 0;
  padding: 0;
}

h1{
	font-size: 4em;
	font-family: 'Roboto',sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	margin:0;
	padding:0;
}

h2{
	font-size: 2em;
	font-family: 'Roboto',sans-serif;
	color: #FFFFFF;
	margin:0;
	padding:0;
}

label{
	font-size: 15px;
	font-family: 'Roboto',sans-serif;
	color: #FFFFFF;
	margin:0;
	padding:0;
	display: inline-block;
	width: 100px;
	text-align: right;
}

img.screen{
	height: 400px;
}

img.dl{
	height: 75px;
	width: 250px;
}

.wrapper{
	height: 100%;
	width: 100%;
	position: relative;
}

.navbar{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.logo{
	position: absolute;
	top:5px;
	left: 20px;
}

.section{
	text-align: center;
	vertical-align: center;
}

#section0{
	background: url("../img/yellowtraffic.jpg") no-repeat fixed center;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}

.category {
	position:relative;
	display: inline-block;
	padding:10px;
}

.button{
	background-color: black;
	border: none;
	color: white;
	padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.title{
  font-size: 6em;
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  color: #FFFFFF;
	position:absolute;
	bottom: 100px;
	right: 120px;
  text-shadow: 2px 2px 4px #000000;
}

.subtitle{
  font-size:3.5em;
  font-family: 'Roboto',sans-serif;
  font-weight: normal;
  color: #FFFFFF;
  position:absolute;
  bottom: 50px;
  right: 60px;
  text-shadow: 2px 2px 4px #000000;
}

input{
  width: 300px;
  padding: 5px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}

input.focus{
	border: solid 5px #969696;
}

@media (max-width: 700px){
	#section0{
		background: url("../img/yellowtraffic.jpg") no-repeat fixed center;
		background-position: center center;
		background-repeat:  no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

  .wrapper{
    height: 100%
    width: 100%;
    text-align: center;
  }

  .title{
    font-size: 4em;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    position:absolute;
    top: 45%;
    text-shadow: 2px 2px 4px #000000;
  }

  .subtitle{
    font-size: 2em;
    font-family: 'Roboto',sans-serif;
    font-weight: normal;
    color: #FFFFFF;
    position:absolute;
    top: 55%;
    text-shadow: 2px 2px 4px #000000;
  }

	h1{
		font-size: 2em;
	}

	h2{
		font-size: 1.5em;
	}

	img.screen{
		height: 300px;
	}

	img.dl{
		height: 50px;
		width: 150px;
	}

	input{
		width:200px;
	}
}